body {
  background-color: black;
  font-family: "8BIT WONDER", sans-serif;
  size: 50px;
  margin: 0;
  color: white;
}

.title2 {
  color: chartreuse;
}

.icon1 {
  color: antiquewhite;
  fill: #00ffff;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  align-items: left;
  background-color: rgb(34, 34, 34);
  padding: 4px 12px;
  margin: 0;
  nav-left: 0;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 10% 5%;
}

.p1 {
  font-size: 100px;
  text-align: left;
  color: darkgreen;
}

.content {
  margin: 0% 1%;
}

.contact {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.contact li {
  padding: 2% 2%;
}
