html {
  scroll-behavior: smooth;
}
li {
  all: unset;
}
a {
  all: unset;
}
button {
  all: unset;
  padding: 5px 15px;
  font-size: 30px;
}

body {
  background-color: black;
  font-family: "8BIT WONDER", sans-serif;
  size: 50px;
  margin: 0;
  color: white;
  height: 4000px;
}

.title2 {
  color: chartreuse;
}

.icon1 {
  color: antiquewhite;
  fill: #00ffff;
}

.navbar {
  display: flex;
  align-items: left;
  background-color: rgb(34, 34, 34);
  padding: 4px 12px;
  margin: 0;
  nav-left: 0;
}

.navbar_menu {
  display: flex;
  /* list-style: none; */
  padding-left: 0;
  max-width: 100%;
  height: auto;
}

.navbar_menu li {
  padding: 10% 5%;
}

.p1 {
  font-size: 100px;
  text-align: left;
  background: linear-gradient(145deg, #ffffff 0%, rgba(12, 12, 12, 0.137) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#id_eve_logo {
  display: none;
}
#id_bu_logo {
  display: none;
}

.content {
  margin: 0% 1%;
  max-width: 100%;
  height: auto;
}

.contactMain {
  color: aquamarine;
  max-width: 100%;
  height: auto;
}
.doing {
}
.contact {
  color: pink;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.contact li {
  padding: 2% 2%;
}

.eve_logo {
  max-width: 50%;
  height: auto;
}

.bu_logo {
  max-width: 50%;
  height: auto;
}
