@import url("http://fonts.cdnfonts.com/css/8bit-wonder?styles=29762");

.App {
  text-align: center;
  font-family: "8BIT WONDER", sans-serif;
}
a {
  all: unset;
}
li {
  all: unset;
}

.navbar-content {
  display: flex;
  align-items: left;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 2%;
  font-weight: 60;
  font-size: 50px;
  font-family: "8Bit WONDER", sans-serif;
}

.navbar-content li {
  display: flex;
  padding-left: 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
